*{
    margin: 0;
    padding:0;
}
.contenedor{
    /*display: grid;
    grid-gap: 20px;
    border: gold 5px solid;
    grid-template-columns: 1 1fr;
    grid-template-rows: repeat(6,1fr);*/
    width: 100%;
    height: 100%;
    

}
#menu{
    display: flex;
    align-items: center;
    height: 100px;
    margin-left: 300px;
    margin-right: 200px;

}

#listamenu{
list-style: none;
padding-bottom: 30px;
}
#listamenu li{
    display: inline-block;
    margin-left: 11px;
}
#logo{
    width: 90px;
    height: 100px;
}
#imagen1{
width: 100%;
position: relative;
}
#imagen1 img{
    
    width:1400px;
    height:500px;
    filter: brightness(0.5); 
}
#imagen1 h1{
    position: absolute;
    top: 40%;
    left: 25%;
    color: aliceblue;
    font-size: 55px;
}
#Proveedor{
    
    margin-top: 140px;
    margin-bottom: 140px;
    align-items: center;
    background-color: #fcfcfc;
  
}
#Proveedor h1{
    text-align: center;
    font-size:40px;
}
#Proveedor p{
    margin-top: 44px;

    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    
}
#servicios {
    background-color:#80B7DF;
    text-align: center;
    align-items: center;
    display: flex;
  flex-direction: column;
    
}
#servicios #lo{
    position: absolute;
    top: 850px;
    right: 1000px;
}
#servicios h1{
    padding-top: 100px;
    padding-bottom: 70px;
}
.contenedor-card{
    display: flex;
    align-items: stretch; /* Hace que todas las cards tengan la misma altura */
}
.card{
    
    flex: 1;
    width: 300px;
    height: 400px;
    display: flex;
  flex-direction: column;
  display: inline-block;
  margin-left: 25px;
  padding-bottom: 25px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ajusta los valores según tu preferencia */
  transform: translateY(-5px); /* Esto eleva el elemento */
  background-color: white;
    
}

.card-imagen{
    position: relative;
    height: 50%;
}
.imagenCard{
 width: 100%;
}
.mar{
    position: absolute;
    right: 0px;
    top: 1px;
}
.cardTexto{
    
    padding: 15px;
    text-align: left;
    flex-grow: 1; 
}
.titulo{
    margin-top: 5px;
}
.card-text{
    font-size: 14px;
    margin-top: 24px;
    padding-right: 10px;
}

.contenedor-boton{
    width: 100%;
    flex-grow: 1;
    text-align: left;
   
  }
.bi{
    padding-left: 24px;
    padding-bottom: 5px;
}
.ver-servicio{
    margin-left: 10px;
    display: inline-block;
   
}
#segunadacard{
    margin-top: 19px;
}
#terceracard{
    margin-top: 23px;
}
.botonCard{
    justify-content: left;
    display: flex;
    text-decoration: none;
}
.ver-servicio:hover{
    font-size: 16px;
    transition: all 0.2s ease;
}
